<!doctype html>
<html>
<head>
  <title>Angular Test</title>
</head>
<body ng-app>

  <div ng-controller="CommentsCtrl" ng-init="query='elit'"><!--Cherche automatiquement "elit"-->

  <input type="text" ng-model="query"/>
  {{query}}
  <select ng-model="order">
    <option value="username">Organiser par nom</option>
    <option value="content">Organiser par contenu</option>
  </select>


    <div ng-repeat="comment in comments | filter: {content: query} | orderBy:order"><!--Trier les noms: orderBy:'-/+username' ; {{user | uppercase}}-->
      <p>
        <strong>{{comment.username}}</strong>
        {{comment.content}}
      </p>
      <input type="text" ng-model="query"/><!--Permet de modifier la query-->

    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js"></script>

<script>

  function CommentsCtrl($scope){

    $scope.comments = [
      {
        "username": "Concepcion",
        "email": "concepcionfischer@entogrok.com",
        "city": "Breinigsville",
        "content": "Nulla nostrud officia nisi anim enim irure ex duis incididunt laboris sunt occaecat culpa."
      },
      {
        "username": "Burns",
        "email": "burnsfischer@entogrok.com",
        "city": "Hatteras",
        "content": "Labore consectetur enim deserunt adipisicing consectetur quis aliqua duis qui."
      },
      {
        "username": "Kristy",
        "email": "kristyfischer@entogrok.com",
        "city": "Hachita",
        "content": "Quis aliqua commodo sunt velit labore ut sint aliqua nisi consequat nulla."
      },
      {
        "username": "Jodie",
        "email": "jodiefischer@entogrok.com",
        "city": "Wintersburg",
        "content": "Mollit do ut eu exercitation ex aliqua ullamco est eu anim officia dolor do Lorem."
      },
      {
        "username": "Lou",
        "email": "loufischer@entogrok.com",
        "city": "Staples",
        "content": "Anim in fugiat id ex."
      },
      {
        "username": "Odessa",
        "email": "odessafischer@entogrok.com",
        "city": "Castleton",
        "content": "Veniam dolor commodo exercitation labore excepteur ut ex dolor."
      },
      {
        "username": "Roxanne",
        "email": "roxannefischer@entogrok.com",
        "city": "Walton",
        "content": "Elit ea ipsum commodo non dolore aliqua fugiat consequat ut."
      }
    ];
  }
</script>
</body>
</html>
