<!doctype html>
<html>
<head>
  <title>Angular Test</title>
</head>
<body ng-app>

  <!--Affiche le texte avec le(s) mot(s)/phrase(s) saisit dans le champ-->
  <input type="text" ng-model="task"/>

  {{task + " Salut "}} <br>

  <!--Affiche les nombres-->
  <input type="text" ng-model="nbre1"/>
  <input type="text" ng-model="nbre2"/>

  {{"Somme : " + (nbre1 + nbre2)}} <br>

  <!--Somme des 2 nombres-->
  <input type="text" ng-model="nbre3"/>
  <input type="text" ng-model="nbre4"/>

  {{"Somme : " + (nbre3 * 1 + nbre4 * 1)}} <br>

  <!--Affiche les utilisateurs-->
  <input type="text" ng-model="query"/>

  <select ng-model="order">
    <option value="username">Organiser par nom</option>
    <option value="content">Organiser par contenu</option>
  </select>

  <div ng-init="users=[{username:'Marc', content:'Salut les gens'}, {username:'Jean', content:'Je suis content'}, {username:'John', content:'First'}]">
    <!--<ul>-->
      <!--<li--><div ng-repeat="user in users | filter: {content: query} | orderBy:order"><!--Trier les noms: orderBy:'-/+username' ; {{user | uppercase}}-->
        <p>
          <strong>{{user.username}}</strong>
          {{user.content}}
        </p>
      </div><!--</li>-->
    <!--</ul>-->
    <!--Permet d'afficher en brut: {{users | filter: 'M'}} -->
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js"></script>

</body>
</html>
