<!doctype html>
<html>
<head>
  <title>Angular Test</title>
</head>

<body ng-app="app">
  <div ng-controller="CommentsCtrl">
    <h1>Commentaires {{ date }}</h1>
    <p>
      {{ chiffre | round:4 }}
    </p>
    <p>Rechercher
      <input type="text" placeholder="Nom de l'utilisateur" ng-model="search.name"/>
      <input type="text" placeholder="Contenu du commentaire" ng-model="search.body"/>
    </p>
    <ul ng-repeat="comment in comments | filter: search">
      <li><strong>{{ comment.name | uppercase }}</strong> {{ comment.body }}</li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
