
<ul class="breadcrumb">
  <li><a href="#/">Articles</a></li>
  <li class="active">{{ post.name }}</li>
</ul>

<div ng-hide="loading">

  <h1>{{post.name}}</h1>

  <p>{{post.content}}</p>

  <h3>{{comments.length}} Commentaires</h3>

  <div ng-repeat="comment in comments | filter:{content: query} | orderBy: order">

    <div ng-comment></div>
  </div>

    <form ng-submit="addComment()">
      <h3>Ajouter un commentaire</h3>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="username" ng-model="newComment.username"/>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="city" ng-model="newComment.city"/>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="email" ng-model="newComment.email"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" ng-model="newComment.content"></textarea>
      </div>
      <div>
        <input class="btn btn-primary btn-sm ng-binding"  type="submit" value="Envoyer"/>
      </div>
    </form>
  <br>
</div>
