<div ng-hide="loading" class="row">

  <div ng-repeat="post in posts" class="col-sm-3">
    <h1>{{post.name}}</h1>

    <button type="button" class="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <p>
      <img src="http://lorempicsum.com/futurama/350/150/{{$index + 1}}" width="100%"/>
    </p>

    <p>{{post.content}}</p>

    <p>
      <a href="#/comments/{{post.id}}" class="btn btn-primary btn-sm">Voir les {{post.comments.length}} commentaires.</a>
    </p>

    <hr>
  </div>
</div>
